<!DOCTYPE html>
<html>
<head>
    <title>Mark</title>
</head>
<body>
    <div style="text-align: center; font-family: sans-serif; text-decoration: none; color: blue;">
        {% extends 'base.html' %}
        {% block content %}
    </div>
    <div style="text-align: center; font-family: sans-serif; color: blue; background-color: white;">
        <h2>About Mark</h2>
        <p>
            What is Mark Zuckerberg famous for? Mark Zuckerberg is famous for being cofounder 
            and chief executive officer of Facebook, the world's largest social network Web site. 
            He founded the service in 2004 while he was at Harvard University with four of his fellow 
            students.
        </p>
    </div>

    {% endblock content %}
</body>
</html>